<div *ngIf="login">
<!-- <form class="form-inline md-form mr-auto mb-4 float-right">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
</form>

<div>
    <div class="mb-3"><h2><b>Država</b></h2><strong>uređivanje/dodavanje</strong></div>
  <div class="row">
      <div class="col-sm-12 mb-3">
          <button class="btn add btn-secondary float-right" (click)="onAdd()">
              <i class="fa fa-plus"></i>
          </button>
      </div>
  </div>
<div>
  <table class="table table-striped table-hover">
      <thead class="thead-dark">
          <tr>
              <th scope="col">Država</th>
              <th scope="col">Actions</th>

          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let country of countries; let i = index">
              <td>{{ country.name }}</td>

              <td class="action">
                  <button class="btn btn-sm"><i class="fa fa-edit" (click)="onEdit(country.id)"></i></button>
                  <button class="btn delete btn-sm btn-danger ml-3" (click)="onDelete(country.id)"><i class="fa fa-trash"></i></button>
              </td>


          </tr>
      </tbody>
    </table>
    <div class ='row'>
        <div class = 'col'>
      <nav aria-label="Page navigation example">
          <ul class="pagination pagination-sm">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" (click)="prevPage()">&lt;&lt;</a></li>
            <li class="page-item"><a class="page-link" (click)="nextPage()">&gt;&gt;</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="dropdown float-right">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            10
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">25</a>
            <a class="dropdown-item">50</a>
            <a class="dropdown-item">100</a>
          </div>
        </div>
      </div>
  </div> -->
  <div class="mb-3"><h2><b>Država</b></h2><strong>uređivanje/dodavanje</strong></div>
  <div class="row">
      <div class="col-sm-12 mb-3">
          <button class="btn add btn-secondary float-right" (click)="onAdd()">
              <i class="fa fa-plus"></i>
          </button>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card o-hidden">
        <ngx-datatable style="box-shadow: none;" class="material horizontal-table-scroll" columnMode="force" [headerHeight]="50"
          [footerHeight]="50" [rowHeight]="'50'" [limit]="pageLimit" [loadingIndicator]="isLoading" [rows]="countries" [messages]="{
            emptyMessage:'Nema odabranih rezultata',
            totalMessage: 'ukupno',
            selectedMessage: 'odabran'
          }">

          <ngx-datatable-column name="name"  [comparator]="sortI18nComparator" [sortable]="true">
            <ng-template ngx-datatable-header-template let-sort="sortFn">
              <span class="data-table-sortable-header" (click)="sort()">
               Ime Države
              </span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="actions">
            <ng-template ngx-datatable-header-template>
              Mogućnosti
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <div class="m-btn-group m-btn-group--pill btn-group" role="group" aria-label="First group">
                <button type="button" class="btn btn-sm"(click)="onEdit(row.id)"><i class="fa fa-edit" title="Uredi"></i>
                 
                </button>
                <button type="button"class="btn delete btn-sm btn-danger ml-3" title="Izbriši" (click)="onDelete(row.id)"><i class="fa fa-trash"></i>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>

</div>
