


<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-15 mb-5">

    <img src="https://wallpaperplay.com/walls/full/0/c/4/167460.jpg "
    class="img-fluid z-depth-1" alt="Responsive image">
    <div class="container">
      <div class="content">
        <h1>Mreža fakulteta</h1>
        <p>Dobrodošli na stranicu Mreže fakulteta!
        </p>
      </div>


  <!-- Grid column -->

</div>
<!-- Grid row -->

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 mb-3">

    <img src="https://wallpaperplay.com/walls/full/5/6/6/167459.jpg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-3">

    <img src="https://wallpaperplay.com/walls/full/e/e/8/167463.jpg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-3">

    <img src="https://wallpaperplay.com/walls/full/6/f/e/167470.jpg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-6 mb-3">

    <img src="https://wallpaperplay.com/walls/full/3/8/8/162407.jpg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-6 mb-3">

    <img src="https://wallpaperplay.com/walls/full/9/7/e/162414.jpg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->
