

.container {
  position: relative;
  width: 100%;
}

.container img {
  width: 100%;
  line-height: 100%;
}

.login .btn {
  border-radius: 5px;
  font-size: 20px;
  padding: 14px 80px;
  cursor: pointer;
  color: #fff;
  background-color: rgb( 33, 37, 41);
  font-weight: 100;
  border: 3px solid gray;
  box-shadow: black;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  border-radius: 10%;
  float: right;
  padding: 10px 24px;
}


.login .btn:hover {
  background-color:  rgb( 33, 37, 41, 0.5);
  border: 3px solid red;
}
