
    <div class="slika">
      <div class="content" *ngIf="!user || user.email.length == 0">
          <h1>Dobrodošli na mrežu fakulteta</h1>
          <h3>Prijavite se za korištenje </h3>
        </div>
        <div class="content"*ngIf="user && user.email && user.email.length > 0">
            <h1>Uspješno ste se prijavili</h1>
            <h4>Ovom aplikacijum omogućujemo povezivanje više fakulteta na jednom mjestu. Imate mogućnost brisanja, promjene i unos novih podataka te pregled postoječih. </h4>
        </div>
    </div>
