<div>
    <div>
        <div [hidden]="errorMessage.length == 0">{{ errorMessage }}</div>
        <form (submit)="onSubmit()" #gameForm="ngForm">
            <input title="id" name="id" type="hidden" [(ngModel)]="quizTheme.id" />
      <div class="form-group">
        <label for="title">Tema kviza</label>
        <input type="text" name="title" [(ngModel)]="quizTheme.name" class="form-control" id="title">
      </div>

      <button (click)="goBack()" class="btn btn-outline-primary float-left">Odustani</button>
      <button type="submit" class="btn btn-primary float-right">Spremi</button>
      </form>
      </div>

</div>
