<div *ngIf="login">
      <div class="mb-3"><h2><b>Korisnici</b></h2></div>
    
      <div class="row">
        <div class="col-md-12">
          <div class="card o-hidden">
            <ngx-datatable style="box-shadow: none;" class="material horizontal-table-scroll" columnMode="force" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'50'" [limit]="pageLimit" [loadingIndicator]="isLoading" [rows]="newUsers" [messages]="{
                emptyMessage:'Nema odabranih rezultata',
                totalMessage: 'ukupno',
                selectedMessage: 'odabran'
              }">
    
              <ngx-datatable-column name="firstName"  [comparator]="sortI18nComparator" [sortable]="true">
                <ng-template ngx-datatable-header-template let-sort="sortFn">
                  <span class="data-table-sortable-header" (click)="sort()">
                   Ime Korinika
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="lastName"  [comparator]="sortI18nComparator" [sortable]="true">
                <ng-template ngx-datatable-header-template let-sort="sortFn">
                  <span class="data-table-sortable-header" (click)="sort()">
                   Prezime Korinika
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="email"  [comparator]="sortI18nComparator" [sortable]="true">
                <ng-template ngx-datatable-header-template let-sort="sortFn">
                  <span class="data-table-sortable-header" (click)="sort()">
                    Email Adresa
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="actions">
                <ng-template ngx-datatable-header-template>
                  Mogućnosti
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  <div class="m-btn-group m-btn-group--pill btn-group" role="group" aria-label="First group">
                    <button type="button"class="btn delete btn-sm btn-danger ml-3" title="Izbriši" (click)="onDelete(row.id)"><i class="fa fa-trash"></i>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
      <br><br>
      <div class="card" style="width: auto;">
        <img class="card-img-top" src="https://dlp31coh2a67q.cloudfront.net/eyJrZXkiOiJ1cGxvYWRzL21lZGl1bS9hc3NldC8xMDMzL3F1aXouanBnIiwiYnVja2V0Ijoib3Nsby1wcm9kdWN0aW9uIiwiZWRpdHMiOnt9fQ==" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title"> Statistika</h3>
          <p class="card-text">Ukupan broj korisnika do sad je: {{finalCount}}</p>
          <p class="card-text">Ukupan broj kvizova napravljenih do sad je: {{finalCountQuizz}}</p>
          <a (click) = 'onClick()' class="btn btn-primary">Osvježi podatke</a>
        </div>
      </div>
      <br><br><br>
    </div>
    