

.container {
  position: relative;
  width: 100%;
}

.container img {
  width: 100%;
  line-height: 100%;
}

.login .btn {
  border-radius: 5px;
  font-size: 20px;
  padding: 14px 80px;
  cursor: pointer;
  color: #fff;
  background-color: rgb( 33, 37, 41);
  font-weight: 100;
  border: 3px solid gray;
  box-shadow: black;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  border-radius: 10%;
  float: right;
  padding: 10px 24px;
}


.login .btn:hover {
  background-color:  rgb( 33, 37, 41, 0.5);
  border: 3px solid red;
}

.test {
  color: rgb(6, 5, 58)

}

.slika {
  position: absolute;
  top: 11%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.slika .content {
  position: absolute; /* Position the background text */
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 70%; /* Full width */
  padding: 20px; /* Some padding */
  left: 30%;
  margin-right: -50%;
}

hr{
  border: 1px solid blue;
}

table {
  background: rgb(206, 202, 202);
  border-radius: 25px;
  border: 2px solid transparent;

}

