<div>
  <div [hidden]="errorMessage.length == 0">{{ errorMessage }}</div>
  <form (submit)="onSubmit()" #gameForm="ngForm">
      <input title="id" name="id" type="hidden" [(ngModel)]="college.id" />
<div class="form-group">
  <label for="name">Fakultet</label>
  <input type="text" name="name" [(ngModel)]="college.name" class="form-control" id="name">
</div>
<div class="form-group">
  <label for="address">Address</label>
  <input name="address" type="text" title="address" [(ngModel)]="college.address" class="form-control" id="address">
</div>
<div class="form-group">
  <label for="cityId">Izaberi grad</label>
  <select class="form-control" name="cityId" [(ngModel)]="college.cityId">
    <option *ngFor="let city of cities" [value]="city.id">
      {{city.name}}
    </option>
  </select>
</div>
<button (click)="goBack()" class="btn btn-outline-primary float-left">Odustani</button>
<button type="submit" class="btn btn-primary float-right">Spremi</button>
</form>
</div>
